.animation-wrapper {
    position: relative;
    width: 100%;
  }
  
  .sphere-animation {
    position: absolute;
    top: 20%;
    left: 40vw;
    width: 290px;
    height: 290px;
    scale: 0.5;
    padding-top: 3.4%;
  }
  
  .sphere path {
    fill: url(#sphereGradient);
    stroke-width: 1px;
    stroke: rgba(80,80,80,.35);
    backface-visibility: hidden;
  }
  
  @media (min-width: 500px) {
    .sphere path {
      stroke-width: .4px;
    }
  }
