@tailwind base;
@tailwind components;
@tailwind utilities;


/* Reset default browser styles */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Disable horizontal scrolling */
  }

  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; 
    pointer-events: none; 
    background-image: url('https://cdn.pixabay.com/photo/2016/04/18/16/22/gradient-1336854_640.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  /* App container */
  .app-container {
    position: relative;
    overflow-y: auto; 
    height: 100vh; 
    background-image: url('./assets/pattern-randomized.svg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  


/* Full-page container */
.slider-container {
  display: flex;
  justify-content: space-around; /* Space divs evenly */
  height: 100vh; /* Full height of the screen */ 
  overflow: hidden;
}

/* Rotated Div */
.rotated-div {
  position: relative;
  width: 210px; /* Fixed width for each div */
  height: 90vh; /* 70% of the viewport height */

  overflow: hidden; /* Hide overflowing images */
  transform: rotate(10deg); /* Rotate each div */
  border: 2px solid #333; /* Optional: border for visibility */
  background-color: #222; /* Slightly different background for contrast */
}

/* Image Slider */
.image-slider {
  display: flex;
  flex-direction: column;
}

/* Slider Image */
.slider-image {
  width: 100%; /* Fill the div horizontally */
  margin-bottom: 10px; /* Space between images */
}

/* Animation for odd-numbered divs (images go up) */
.slide-up {
  animation: slide-up 20s linear infinite;
}

/* Animation for even-numbered divs (images go down) */
.slide-down {
  animation: slide-down 20s linear infinite;
}

/* Keyframes for sliding UP */
@keyframes slide-up {
  0% {
    transform: translateY(0); /* Start position */
  }
  100% {
    transform: translateY(-10%); /* Move up by 100% of the slider */
  }
}

/* Keyframes for sliding DOWN */
@keyframes slide-down {
  0% {
    transform: translateY(-10%); /* Start from bottom */
  }
  100% {
    transform: translateY(0); /* Move down to original position */
  }
}
